.body{
    background-color: #61adff;
}

#list{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row-reverse;
    background-color: rgb(92, 185, 252);
}
#title{
display: inline-flex;
}
#title h1{
    font-weight: 300px;
    margin-top: 30px;
    margin-left: 20px;
    font-style:oblique;
    color:rgb(13, 13, 226)
}

#icon{
    text-decoration:double;
   
    color: blue;
}
#search{
    margin-left: 500px;
    margin-top: 30px;
}
#back{
 
    margin-bottom: -20px;
    padding-top: 30px;
    display:flex;
    gap: 145px; 
    background-color: #a4d0ff;
    align-items: start;
    padding-bottom: 40px;
 
}
#back h2{


    font-size: 23px;
    color:rgb(0, 57, 126);
    font-style:italic;
    font-weight: 300px; 
}
#text{
    margin-top: 2px;
 font-style: italic;  
 font-size: 13px;
}

